@import "~figma-plugin-ds/dist/figma-plugin-ds.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  color: var(--black-8)
}

.horizontal-input {
  display: flex;
  align-items: center;
}

.horizontal-input__label {
  display: flex;
  justify-content: flex-end;
  font-weight: 600;
  flex: 0 0 5.25rem;
  white-space: nowrap;
  color: var(--black8);
  text-align: right;
  padding-right: 6px;
}

.horizontal-input__input {
  flex: 0 1 auto;
}

.horizontal-input__text {
  flex: 0 0 5rem;
  word-wrap: none;
  white-space: nowrap;
  color: rgb(189, 189, 189);
}

.horizontal-input__action {
  margin-left: .375rem;
  appearance: none;
  font: inherit;
  font-size: .6875rem;
  background: none;
  outline: 0;
  border: 0;
  font-weight: 600;
  color: var(--blue);
  border-radius: 2px;
  align-self: stretch;
  padding: 0 6px;
}
.horizontal-input__action:hover {
  background: var(--grey);
}

.file-container {
  padding: .75rem .75rem 0;
}

.file {
  background: #ffffff;
  border: 1px solid var(--black1);
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.13);
  border-radius: 5px;
  padding: 0.5rem;
}

.file__header {
  display: flex;
  align-items: center;
}

.file__icon {}

.file__name {}

.file__action-group {
  display: flex;
  margin-top: 0.5rem;
}

.file__action {
  display: flex;
  align-items: center;
}

.file__action:not(:last-child) {
  margin-right: 8px;
}

.settings {
  padding: .75rem 1rem;
}

.preview-group {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(60px, 1fr));
}

.horizontal-input
.checkbox__box {
  width: 0;
  height: 0;
}

.horizontal-input
.checkbox__label::before {
  width: 15px;
  height: 15px;
  margin: 0;
}

.horizontal-input
.checkbox__box:checked +
.checkbox__label::before {
  background-position: 3px 4px;
}

select {
  appearance: none;
  margin: 1px 0 1px 0;
  padding: var(--size-xxsmall) var(--size-xxxsmall) var(--size-xxsmall) var(--size-xxsmall);
  font: inherit;
  color: var(--black8);
  font-size: var(--font-size-xsmall);
  letter-spacing: var(--font-letter-spacing-neg-xsmall);
  border-radius: var(--border-radius-small);
  line-height: var(--line-height);
  border-color: transparent;
  flex: 1;
  width: 100%;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg fill='none' height='32' width='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 18l3-4h-6z' fill='%23222'/%3E%3C/svg%3E");
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: right center;
}
select:hover {
  border-color: var(--black1);;
}

a {
  color: #18a0fb;
  text-decoration: none;
}

.TemplateEditor {
  position: relative;
  height: 120px;
  overflow: hidden;
}
.TemplateEditor .CodeMirror {
  height: auto;
  color: var(--grey);
  background-color: var(--black8);
  font-family: "Roboto Mono", monospace;
  font-size: 13px;
  padding-left: 8px;
  padding-right: 8px;
}
.TemplateEditor .CodeMirror .cm-document-replacement-token {
  color: var(--blue);
}
.TemplateEditor .CodeMirror .cm-icon-replacement-token {
  color: var(--purple);
}
.TemplateEditor .CodeMirror .cm-control-statement {
  color: var(--purple);
}
.TemplateEditor .CodeMirror-cursor {
  border-color: var(--grey);
}
.TemplateEditor .CodeMirror-lines {
  padding-top: 8px;
  padding-bottom: 8px;
}


.EditorView_header {
  padding: 0.625rem 1rem;
  display: flex;
  align-items: center;
  gap: .75rem;
}
.EditorView_space {
  flex: 1 0 0;
}
.EditorView_buttons {
  display: flex;
  gap: 8px;
}

.EditorView_field {
  display: inline-flex;
  gap: 4px;
}
.EditorView_label {
  width: auto;
  font-weight: 700;
  color: var(--black8);
  padding: 0
}
.EditorView_tabs {
  height: 2.5rem;
  display: flex;
  padding: 0 1rem;
  gap: .75rem;
}
.EditorView_tab {
  appearance: none;
  border: 0;
  color: inherit;
  font: inherit;
  font-size: 11px;
  background: none;
  font-weight: 600;
  padding: 0;
}
.EditorView_tab[data-active="false"] {
  color: var(--black3);
}
.EditorView_tab-content {
  padding: 0 1rem 1rem;
}
.EditorView_preview {
  border-radius: 4px;
  border: solid 1px var(--grey);
  overflow: auto;
  height: 8rem;
  font-size: 0.6875rem;
}
.EditorView_preview code {
  display: block;
  padding: 8px;
  color: var(--black8);
}


.Input {
  display: flex;
}

.Loading {
  padding: 1rem;
}