@import "~figma-plugin-ds/dist/figma-plugin-ds.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color: var(--black-8)
}

.horizontal-input {
  display: flex;
  align-items: center;
}

.horizontal-input__label {
  display: flex;
  justify-content: flex-end;
  font-weight: 600;
  flex: 0 0 7rem;
  white-space: nowrap;
  color: var(--black8);
  text-align: right;
}

.horizontal-input__input {
  flex: 0 1 auto;
}

.horizontal-input__text {
  flex: 0 0 5rem;
  word-wrap: none;
  white-space: nowrap;
  color: rgb(189, 189, 189);
}

.file {
  background: #ffffff;
  border: 1px solid var(--black1);
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.13);
  border-radius: 5px;
  padding: 0.5rem;
  margin: 12px;
}

.file__header {
  display: flex;
  align-items: center;
}

.file__icon {}

.file__name {}

.file__action-group {
  display: flex;
  margin-top: 0.5rem;
}

.file__action {
  display: flex;
  align-items: center;
}

.file__action:not(:last-child) {
  margin-right: 8px;
}

.settings {
  margin: 1rem;
}

.preview-group {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(60px, 1fr));
}

.horizontal-input
.checkbox__box {
  width: 0;
  height: 0;
}

.horizontal-input
.checkbox__label::before {
  width: 15px;
  height: 15px;
  margin:0
}

.horizontal-input
.checkbox__box:checked +
.checkbox__label::before {
  background-position: 3px 4px;
}

select {
  appearance: none;
  margin: 1px 0 1px 0;
  padding: var(--size-xxsmall) var(--size-xxxsmall) var(--size-xxsmall) var(--size-xxsmall);
  font: inherit;
  color: var(--black8);
  font-size: var(--font-size-xsmall);
  letter-spacing: var(--font-letter-spacing-neg-xsmall);
  border-radius: var(--border-radius-small);
  line-height: var(--line-height);
  border-color: transparent;
  flex: 1;
  width: 100%;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg fill='none' height='32' width='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 18l3-4h-6z' fill='%23222'/%3E%3C/svg%3E");
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: right center;
}
select:hover {
  border-color: var(--black1);;
}

a {
  color: #18a0fb;
  text-decoration: none;
}